h1 { 
  font-family: $logo-font;
  font-size: 3rem; 
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
  text-transform: uppercase;
}




.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }