// Colors
$primary-font-color: #000000;
$primary-color: #1de8b5;
$primary-dk-color: #e0e2e1;
$primary-lt-color: #f5f5f6;
$secondary-color: #00e5ff;
$secondary-lt-color: #6effff;
$secondary-dk-color: #00b2cc;
$card-bg-color: #ffffff;

// Fonts
$primary-font: 'Lato', sans-serif;
$logo-font: 'Noto Serif', serif;