// Colors
$primary-font-color: #000000;
$primary-color: #1de8b5;
$primary-lt-color: #efefef;
$primary-dk-color: #00b585;
$secondary-color: #00e5ff;
$secondary-lt-color: #6effff;
$secondary-dk-color: #00b2cc;
$card-bg-color: #ffffff;

// Fonts
$primary-font: 'Lato', sans-serif;
$logo-font: 'Noto Serif', serif;

// Spacing
// $button-spacing: 1vw;

// // Mixins
// @mixin alignCentered() {
//   display: flex;
//   align-items: center;
// }

// @mixin justifyCentered() {
//   display: flex;
//   justify-content: center;
// }